.container-fluid    {
    width: 100%;
}

/*Navbar background colour change */

nav {
    border-radius: 0 !important;
    background-color: #333 !important;
}

.navbar  {
    margin-bottom: 0;
}


/* Navbar brand formatting */

.navbar-brand   {
    font-family: 'Oxygen', sans-serif;
    color: white !important;
    padding-left: 10px;
    padding-right: 15px;
}


/* Hover changes */

#navbar ul li a:hover    {
    background-color: #4F4F4F;
}

.dropdown-menu li a:hover {
    color: white;
    background-color: #4F4F4F;
}


/* Glyphicon color change one active */

.active .glyphicon-home {
    color:red;
}

.active .glyphicon-calendar {
    color:red;
}

.active .glyphicon-list-alt {
    color:red;
}

.active .glyphicon-stats {
    color:red;
}

.active .glyphicon-option-vertical {
    color:red;
}

.active .glyphicon-envelope {
    color:red;
}


/* Social Media Icons */

.socialMedia   {
    color: inherit;
}

.socialMedia:hover   {
    color: #4F4F4F;
}


/* Side Images */

.row    {
}

.bottomImage  {
    max-width:100%;
    vertical-align: middle;
}

.centerText    {
    text-align: center;
}

.jumbotron  {
    margin-bottom: 0;
    border-radius: 0 !important;
}

#vcenterBpow {
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

#vcenterEpa {
  position: relative;
  top: 50%;
  transform: translateY(45%);
}
